.authenticationModalContent {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.authenticationModalHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.authenticationModalHeaderDescription {
  color: #cacaca;
}

.authenticationFormInput {
  background-color: transparent !important;
  border-color: gray !important;
  color: white !important;
}

.authenticationFormInput::placeholder {
  color: #999 !important;
}

.authenticationModalSocialMediaTitle {
  color: #cacaca;
}

.authenticationModalSocialMedia {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.authenticationModalSocialMediaItem {
  background-color: transparent;
  padding: 10px;
  width: 33%;
  border-radius: 5px;
  border: 1px solid #999;
  cursor: pointer;
}

.authenticationModalDivider {
  color: #999 !important;
}

.authenticationFormButton {
  font-weight: bold !important;
  background-color: #00b9ff !important;
  margin-bottom: 10px !important;
}

.authenticationModalDivider.ant-divider-with-text-center::before,
.authenticationModalDivider.ant-divider-with-text-center::after {
  border-top: 1px solid red;
}

.customDivider {
  border-color: gray;
  border-width: 2px;
  color: white;
  font-size: 16px; /* Ajusta el tamaño del texto del Divider */
}
