.navbar {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(22, 22, 22, 1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.navSection {
  height: 70px;
  display: flex;
  align-items: center;
}

.leftSection {
  width: 20%;
  justify-content: center;
}

.centerSection {
  width: 60%;
  justify-content: left;
  padding-left: 20px;
}

.rightSection {
  width: 20%;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 30px;
}

.link {
  position: relative;
  margin: 0 1rem;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  padding-bottom: 2px;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0ac4ff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover {
  color: #0ac4ff;
}

.link:hover::after {
  transform: scaleX(1);
}

.link span.active {
  color: #0ac4ff;
}

.link span.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0ac4ff;
  transform: scaleX(1);
}

.searchButton,
.notificationButton,
.profileButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  margin-left: 1rem;
  cursor: pointer;
}

.profileImage {
  border-radius: 50%;
}

.authenticationActions {
  display: flex;
  gap: 10px;
  margin-left: 1rem;
}

.logInButton {
  font-weight: 600 !important;
  border-color: #fff !important;
}

.logInButton:hover {
  color: #0ac4ff !important;
  border-color: #0ac4ff !important;
}

.signUpButton {
  background-color: #0ac4ff !important;
  border-color: #0ac4ff !important;
  font-weight: 600 !important;
}

.signUpButton:hover {
  color: #fff !important;
  border-color: #fff !important;
}

@media (max-width: 1200px) {
  .leftSection,
  .rightSection {
    width: 250px;
  }
  .centerSection {
    width: calc(100% - 500px);
  }
}

@media (max-width: 992px) {
  .navbar {
    justify-content: center;
  }
  .leftSection,
  .rightSection {
    display: none;
  }
  .centerSection {
    width: 100%;
  }
}
